<%= form_for(@item) do |f| %>

<h1>
    <%= f.text_field :title, :placeholder=>'New List Name', :autofocus => true, :class=>'form-control input-lg' %>
</h1>


<div class="form-group">
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  
  <div class="actions">
    <%= f.submit :class =>'btn btn-default', :value=>'Create List' %>
  </div>
</div>
<% end %>
